@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poller+One&display=swap');
@import 'tailwindcss';

@theme {
	--inset-shadow-lg: inset 0 0 16px rgba(0, 0, 0, 0.25);
}

.poller {
	font-family: 'Poller One', sans-serif;
	font-weight: 400;
	font-style: normal;
}
